.wrapper {
  overflow: auto;

  min-width: 100%;
  min-height: 100%;
  padding: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mainBlockWrapper {
  width: 100%;
  margin: auto;
}

.authWrapper {
  position: relative;

  align-items: center;

  width: 100%;
  max-width: 400px;
  margin: auto;
}

.authCard {
  width: 100%;
  padding: 40px 30px;

  background: #fff;
  border-radius: 8px;
  box-shadow: 0 16px 32px rgb(0 0 0 / 7%), 0 12px 16px rgb(0 0 0 / 7%), 0 8px 8px rgb(0 0 0 / 7%),
    0 4px 4px rgb(0 0 0 / 7%), 0 2px 2px rgb(0 0 0 / 7%);
}
