.container {
  background: red;
}

.logoContainer {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 40px 0 0;

  & > :first-child {
    margin: 0 20px 0 0;
  }
}

.popup {
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 16px 32px rgb(0 0 0 / 7%), 0 12px 16px rgb(0 0 0 / 7%), 0 8px 8px rgb(0 0 0 / 7%),
    0 4px 4px rgb(0 0 0 / 7%), 0 2px 2px rgb(0 0 0 / 7%);
}

.login {
  cursor: pointer;
  padding: 4px;
  background: rgb(250 250 250 / 16%);
  border-radius: 99px;

  &:hover {
    background-color: rgb(250 250 250 / 50%);
  }
}
