.container {
  padding: 16px;
  background: transparent;
}

.loaderContainer {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.rowWrapper {
  align-items: center;
  margin: 0 0 16px;
}

.title {
  width: fit-content;
  margin: 0 0 16px;
  padding: 0 8px;

  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgb(0 32 51 / 4%);
}

.chartsWrapper {
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
}

.chartContainer {
  overflow: auto;
  flex: 1 1 50%;

  height: 350px;

  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgb(0 32 51 / 4%);

  &:not(:last-child) {
    margin-right: 16px;
  }
}
