.container {
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 0 19px;
  padding: 0 0 16px;

  border-bottom: 1px solid #ccd9e0;
}

.gridContainer {
  display: grid;
  grid-template-rows: auto;
}

.gridRow {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8px;
  margin: 0 0 16px;
}

.btnsContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  &>:not(:last-child) {
    margin: 0 16px 0 0;
  }
}
