.container {
  flex: 1;
  height: 100%;
  padding: 10px;
  background: transparent;

  & > :not(:last-child) {
    margin: 0 0 10px;
  }
}

.loaderContainer {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.emptyContainer {
  align-items: center;
  justify-content: center;
  height: 100%;
}
