.wrapper {
  width: 100%;
}

.title {
  margin: 0 0 32px;
}

.textField {
  margin: 0 0 24px;
}

.pswdWrapper {
  position: relative;
}

.restoreBtn {
  cursor: pointer;

  position: absolute;
  z-index: 1;
  top: 5px;
  right: 0;

  background: none;
  border: none;
  outline: none;
}

.btn {
  &:not(:last-child) {
    margin: 0 0 16px;
  }
}

.loaderContainer {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 10%);
}
