.container {
  justify-content: center;
  height: 100%;
  padding: 10px;
  background: transparent;
}

.loaderContainer,
.fetchLoaderContainer {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.fetchLoaderContainer {
  background: rgb(0 0 0 / 30%);
}

.selectWrapper {
  justify-content: space-between;
  width: 100%;
  margin: 0 0 16px;
}

.titleWrapper {
  justify-content: center;
}

.title {
  width: fit-content;
  margin: 0 0 16px;
  padding: 0 8px;

  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgb(0 32 51 / 4%);
}

.chartsWrapper {
  justify-content: space-between;
  width: 100%;
  height: 50%;
  margin: 0 0 16px;
}

.chartWrapper,
.tableWrapper {
  background: var(--bg-default, #fff);
  border-radius: 4px;

  /* shadow/group */
  box-shadow: 0 2px 8px 0 rgb(0 32 51 / 16%), 0 2px 2px 0 rgb(0 32 51 / 2%);
}

.chartWrapper {
  overflow: hidden;
  flex: 1;

  &:not(:last-child) {
    margin: 0 16px 0 0;
  }
}

.tableWrapper {
  overflow: auto;
  flex: 1 1 100px;
}

.table {
  overflow: auto;
  height: auto;
}

.emptyContainer {
  align-items: center;
  justify-content: center;
  height: 100%;
}
