.container {
  width: 100%;
  height: 100%;
  padding: 10px;

  background: rgb(50 204 255);
  background: linear-gradient(0deg, rgb(50 204 255 / 30%) 55%, rgb(248 105 107 / 0%) 80%, rgb(248 105 107 / 30%) 90%);
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0 10px;
  padding: 10px 10px 0;
}

.legendItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashedLine {
  display: block;

  width: 40px;
  height: 2px;
  margin: 0 10px 0 0;

  background-image: linear-gradient(to right, #666 50%, rgb(102 102 102 / 0%) 0%);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 8px 2px;
}
