.container {
  padding: 16px;
  background: var(--bg-default, #fff);
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgb(0 32 51 / 16%), 0 2px 2px 0 rgb(0 32 51 / 2%);
}

.cardsWrapper {
  justify-content: space-between;
  width: 100%;
}

.card {
  cursor: pointer;

  flex: 1;

  max-width: 550px;
  padding: 40px 20px;

  border: 2px solid #a9a9a9;
  box-shadow: 0 2px 8px 0 rgb(0 32 51 / 16%), 0 2px 2px 0 rgb(0 32 51 / 2%);

  &:hover {
    color: #0078d2;
  }

  &:hover .icon {
    path {
      fill: currentcolor;
    }
  }

  &:not(:last-child) {
    margin: 0 20px 0 0;
  }
}

.cardLink {
  color: inherit;
  text-decoration: inherit;
}

.cardWrapper {
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
