.container {
  display: flex;
  flex-direction: column;

  background-color: #fff !important;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.button[disabled] {
  opacity: 0.8;
}
