.canvasBack,
.canvasFront {
  position: absolute;
  top: 0;
  left: 0;
}

.canvasBack {
  z-index: -3;
}

.canvasFront {
  z-index: -1;
}

.cubeContainer {
  position: absolute;
  top: 50%;
  left: 50%;
}

.cubeWrapper {
  --cube-width: clamp(100px, 12vw, 250px);
  --cube-height: clamp(50px, 5vw, 100px);
  position: relative;
  z-index: -2;

  .cube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: rotate3d(-1, 1, 0, 20deg) translate(-50%, -50%);

    width: var(--cube-width);
    height: var(--cube-height);

    .back,
    .right,
    .left,
    .top,
    .bottom,
    .front {
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;

      opacity: 0.4;
      background: #d9d9d9;
      border: 2px solid #000;
    }

    .back,
    .right,
    .left,
    .front {
      width: var(--cube-width);
      height: var(--cube-height);
    }

    .top,
    .bottom {
      width: var(--cube-width);
      height: var(--cube-width);
    }

    .back {
      transform: translateZ(calc(var(--cube-width) / -2)) rotateY(180deg);
      border-bottom: 1px dashed #000;
      border-left: 1px dashed #000;
    }

    .right {
      transform-origin: top right;
      transform: rotateY(-270deg) translateX(calc(var(--cube-width) / 2));
      border: none;
      border-bottom: 1px dashed #000;
    }

    .left {
      transform-origin: center left;
      transform: rotateY(270deg) translateX(calc(var(--cube-width) / -2));
    }

    .top {
      transform-origin: top center;
      transform: rotateX(-90deg) translateY(calc(var(--cube-width) / -2));
    }

    .bottom {
      transform-origin: top center;
      transform: rotateX(-90deg) translateY(calc(var(--cube-width) / -2)) translateZ(var(--cube-height));
      border: none;
    }

    .front {
      transform: translateZ(calc(var(--cube-width) / 2));
    }
  }
}

.tableContainer {
  position: absolute;
  z-index: -4;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform: rotate3d(-1, 1, 0, 20deg) translate(-50%, -50%);

  .table {
    position: absolute;
    transform-origin: center center;
    transform: rotateX(90deg) translateY(0) translateX(clamp(-230px, -12vw, -10px)) translateZ(clamp(50px, 10vw, 165px));

    width: clamp(100px, 25vw, 450px);
    height: clamp(100px, 25vw, 450px);

    background: #fff;
    filter: drop-shadow(-4px 14px 4px rgb(0 0 0 / 25%));
    border-radius: 8px;
  }
}
