.container {
  overflow: auto;
  flex: 1 1 100px;
  background: transparent;
}

.iconWrapper {
  cursor: pointer;

  display: flex;

  background: #dae1e5;
  border-radius: 4px;
  box-shadow: 0 8px 24px 0 rgb(0 32 51 / 12%), 0 4px 4px 0 rgb(0 32 51 / 4%);
}

.isWatchedCellContainer {
  display: flex;
  align-items: center;

  & > :not(:last-child) {
    margin: 0 5px 0 0;
  }
}

.isWatchedDot {
  display: block;

  width: 12px;
  height: 12px;

  background: #56b9f2;
  border-radius: 50%;

  &[data-status='Просмотрено'] {
    background: #dee4e8;
  }

  &[data-status='Выполнено'] {
    background: #0f0;
  }
}
