.container {
  overflow: auto;
  max-width: 100%;
  height: 100%;
  background: transparent;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.container :global {
  .TableCell-Wrapper {
    padding: 0;
  }

  .TableCell-Wrapper_isHeader {
    padding: 10px;
  }
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 5px 0;
}
