.container {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100px;
  padding: 8px;

  background: var(--bg-default, #fff);
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgb(0 32 51 / 4%);
}

.progress {
  transform: translate(0, 25%);
}
