.chart {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 200px;
  padding: 5px;

  background: #fff;
  border: 1px solid #000;
  border-radius: 8px;
}

.backdrop {
  position: absolute;
  inset: 0;
  transition: all 0.3s ease-in-out;
}

.descriptionContainer {
  width: 100%;
  padding: 18px;
}

.descriptionWrapper {
  width: 100%;
}

.descriptionItem {
  width: 100%;
}

.description {
  width: 50%;
  margin: 0 15px 10px;
  color: currentcolor;
  text-align: right;
}

.descriptionValue {
  width: 50%;
  color: currentcolor;
  text-align: left;
}

.waterfallChart {
  position: relative;
}

.waterfallChart::before,
.waterfallChart::after {
  content: '';

  position: absolute;
  right: 0;
  left: 50px;

  height: 1px;

  background-color: #ff4443;
}

.waterfallChart::after {
  bottom: 30px;
}

.waterfallChart::before {
  top: 5px;
}
