.chartsRowContainer {
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:last-child {
    margin: 130px 0 16px;
  }
}

.roadmapContainer {
  flex: 1;
  width: 0%;
  padding: 30px;
}