.warnContainer {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -100%);

  overflow: hidden;
  display: none;

  max-height: 130px;
  padding: 0 0 10px;

  border-radius: 8px;
}

.warnWrapper {
  overflow: auto;

  padding: 10px;

  text-align: left;

  background: #ff4443;
  border: 1px solid #ff4443;
}

.chartContainer {
  position: relative;

  width: 565px;

  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgb(0 32 51 / 4%);

  &:hover .warnContainer {
    display: flex;
  }
}

.warnState {
  color: #fff;
  background: #ff4443;
}

.warnText {
  color: #fff;
}
