.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.loader {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  background: rgb(0 0 0 / 50%);
}

.scrollContainer {
  width: fit-content;
  height: fit-content;
}

.area {
  cursor: pointer;
}

.imgContainer {
  position: relative;
  transform-origin: center;

  width: fit-content;
  height: fit-content;

  background-image: url('@assets/map.png');
  background-size: contain;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.image {
  width: auto;
  height: auto;
  opacity: 0;
}

.layerChooserWrapper {
  position: absolute;
  top: 20px;
  left: 20px;
}

.zoomBoxWrapper {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}
