.container {
  width: 100%;
  height: 100%;
  padding: 10px;

  background: rgb(50 204 255);
  background: linear-gradient(0deg, rgb(50 204 255 / 30%) 35%, rgb(248 105 107 / 0%) 50%, rgb(248 105 107 / 30%) 65%);
}
