.wrapper {
  width: 500px;
  padding: 8px;

  text-align: left;

  background: var(--bg-default, #fff);
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgb(0 32 51 / 4%);
}

.title {
  margin: 0 0 8px;
}
