.container {
  padding: 10px;
  position: relative;
}

.loaderContainer,
.fetchLoaderContainer {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.fetchLoaderContainer {
  background: rgb(0 0 0 / 30%);
}

.selectWrapper {
  justify-content: flex-end;
  margin: 0 0 16px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.titleWrapper {
  padding: 0 8px;
  background: var(--bg-default, #fff);
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgb(0 32 51 / 4%);
}

.chartsContainer {
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
